@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
}
.container {
    display: flex;
    flex-direction: column;
    margin: none;
    align-items: center;
    justify-content: center;
    background: url(assets/bg-header-desktop.png) no-repeat center center / cover;
    background-size: 100% 100%;
}
.logoheader{
    width: 80px;
    padding-top:170px;
    padding-bottom:5px;     
}
.intro{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.title{
    font-size: 40px;
    color: #333;
    font-weight:600;
}
.subtitle{
    display: flex;
    position:relative;
    top:-35px;
    text-align: center;
    font-size:17.5;
    color: #807e7e8f;
    font-weight: 400;
}
.buttom {
    display:flex;
    justify-content:space-between;
    gap:50px;
    padding-bottom:100px;
}
.buttomIos{
    display: flex;
    justify-content: center;
    width:150px;
    border-radius:50px;
    background-color:rgb(43, 190, 183);
    text-align: center;
    padding: 15px;
    color:white;
    font-size:15px;
    font-weight: 400;
    box-shadow:2px 2px 6px 2px rgb(19, 90, 86);
}
.buttomMac{
    display: flex;
    justify-content: center;
    width:150px;
    border-radius: 50px;
    background-color:rgb(58, 125, 250);
    text-align: center;
    padding: 15px;
    color:white;
    font-size:15px;
    font-weight: 400;
    box-shadow:2px 2px 6px 2px rgb(25, 57, 117);
}
.device{
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    padding-top: 100px;
}

.computer{  
    max-width:650px;
    height: fit-content;
    border-radius:2px;
    box-sizing: border-box;
    padding-top:80px;
}

.advantages{
    display: flex;
    max-width: 1100px;
    box-sizing: border-box;
    gap: 130px;
}

.description{
    box-sizing:content-box;
    width:300px;
    justify-content:space-between;
    gap:10px;
    margin:0;
    padding-top:125px;
}
.titleSec{
    font-size:35px;
    color:#333;
    font-weight:600;
    font-style: normal;
}
.titleTer{
    font-size: 20px;
    color: #333;
    font-weight:600;
    font-style: normal;
}
.subtitleSec{
    font-size:15px;
    color: #807e7e8f;
    font-weight: 400;
    text-align:justify;
    padding-bottom: 40px;
}
.access{
    display: flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    padding-top: 100px;
}
.toolsText{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.topics{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-align: center;
    margin-left:100px;
    margin-right: 100px;; 
    max-width: 100%;
}
.column {
    flex: 1; 
    padding:10px;
    padding-bottom: 100px;
}
.imgTopics{
    width: 40px;
    padding-bottom: 25px;
}
.imgTopicsA{
    width: 38px;
    padding-bottom: 5px;
}
.titleTopics{
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}
.subtitleTopics{
    font-size:17px;
    color: #807e7e8f;
}
.logos{
    display: flex;
    justify-content: space-evenly; 
    align-items: center; 
    margin: 20px; 

}
.logoEnd{
    width: 50px;
    margin-bottom: 20px; 
}
.infoEnd{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 20px;
    background-color: #f5f5f5;
}
.contact{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px 45px;
    max-width: 300px; 
    margin-bottom: 20px;
}
.link{
    text-decoration: none;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    font-size: 14px;
}
.socialMedias {
    display: flex;
    gap: 15px; 
}
.socialMedias img {
    width: 25px; 
    height: 25px;
    cursor: pointer;
}